$purple: #9b41a5;
$yellow: #fff4d6;
$pink: #fbd6ff;
$pink-dark: #d94289;
$blue: #6a98ba;
$red: #ec0f1e;
$times: "Times New Roman", sans-serif;
$tinos: 'Tinos',sans-serif;
$yellow-dark: #ffe8d6;
$small-custom: 640px;
$grey-line: #c7c9d8;
.cabinet {
  h1 {
    color: $purple;
    border-bottom: 2px solid $grey-line;
    font-family: $times;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  @media only screen and (max-width: $small-custom - 1) {
    .padding-none {
      padding: 0;
    }
  }
  .border-cabinet {
    border: 1px solid $grey-line;
    margin: 25px 0;
    position: relative;
    width: 98%;
    @media only screen and (max-width: $small-custom - 1) {
      width: 100%;
    }
    .img-center {
      position: relative;
      overflow: hidden;
      margin: -18px 0 0 -32px;
      height: 348px;
      width: 100%;
      @media only screen and (max-width: $small-custom - 1) {
        margin: 0;
      }
      img {
        width: 100%;
      }
    }
    .round-balls {
      margin-left: -16px;
      width: 92%;
      @media only screen and (max-width: $small-custom - 1) {
        margin-left: 0;
        width: 100%;
      }
      h3 {
        background: url("../img/pattern.png") 100% center no-repeat;
        font-size: 1.2em;
        padding: 30px;
        width: 200px;
      }
      p {
        color: #4f4f4f;
        margin: 0;
      }
      span {
        p {
          border-radius: 50%;
          border: 1px solid $grey-line;
          padding: 10% 0 0;
          color: #000;
          margin: 0 auto;
          height: 65px;
          width: 65px;
          @media only screen and (max-width: $small-custom - 1) {
            padding: 4% 0;
          }
        }
      }
    }
    .col-2 {
      .login {
        padding: 15% 0;
        height: 89px;
      }
    }
    label {
      margin-bottom: 20px;
    }
    input {
      margin-bottom: 0;
    }
    .fam {
      margin-top: 44px;
    }
    .password {
      position: absolute;
      top: 5px;
      right: 8px;
      a {
        color: red;
        font-size: 0.9em;
      }
    }
    form {
      border-bottom: 1px solid $grey-line;
      margin-top: 15px;
    }
    button {
      margin-top: 20px;
    }
  }
}
.block-3 {
  .topic-top {
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: 2;
    @media only screen and (max-width: $small-custom - 1) {
      position: relative;
      top: auto;
      left: 0;
      z-index: 2;
      width: 100%;
    }
  }
}
