extends includes/home.jade
block title
	title Статья
block content
	.row
		.large-12.columns.large-centered.concurs
			.row
				.large-8.columns.lades.padding-left
					nav(aria-label="You are here:" role="navigation")
						ul.breadcrumbs
							li
								a(href="#") Главная
							li
								a(href="#") Стиль мода
							li.disabled Звездные мамы советуют: какой спорт выбрать
					.row
						.large-10.columns.large-centered.article
							h2.text-center звездные мамы советуют: какой спорт выбрать
							.article-all
								img(src="img/article/article1.jpg", alt="article1")
								p
									strong.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe praesentium enim ratione voluptatum ducimus necessitatibus magni veniam dolores rem quo, delectus tempora natus ad reiciend
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, molestias, expedita. Eius fugit numquam ipsum, aperiam, repudiandae amet laboriosam placeat libero delectus itaque natus illo labore ipsa tempora asperiores dignissimos, odit. Vitae minus provident, eligendi perspiciatis sit. Officia odit non possimus fuga, ipsum et vitae unde blanditiis maxime, doloremque quia aspernatur hic modi sint quibusdam minima dignissimos ratione cumque harum ea soluta numquam. Quae corrupti autem totam ea ratione doloremque dolorum eligendi, eaque facilis delectus officiis, praesentium, fugiat adipisci recusandae quam quis architecto magnam accusamus quas vero temporibus earum mollitia ipsam reiciendis ut! Itaque assumenda, explicabo, omnis ipsum libero corporis.
								img(src="img/article/article2.jpg", alt="article2")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error rerum maxime porro possimus magni, libero corrupti quis harum nostrum doloribus non expedita, iure at assumenda eaque, placeat dolorum doloremque necessitatibus architecto similique consequuntur! Velit repellendus, tempora delectus eligendi? Quibusdam sint vel voluptates iste dolorem magni temporibus maxime a iure sapiente harum enim ratione maiores aperiam sed, autem fugit nesciunt. Nam officiis, placeat temporibus! Odio vitae modi magnam excepturi animi perferendis ex libero fugit, rerum quaerat tenetur doloremque nihil laudantium velit earum, placeat id voluptatum dolore! Saepe ducimus quisquam vitae soluta fuga illo quos praesentium sed animi earum. Voluptas voluptatibus hic totam, dolorem mollitia sit aut excepturi facilis dolores quidem natus sed eos quisquam consequuntur voluptates nesciunt laborum obcaecati. Consequuntur, nisi accusantium facilis nemo soluta, tempore adipisci eius voluptatum distinctio veritatis iusto esse assumenda rerum, debitis voluptate maxime. Eos asperiores quam odit tempora mollitia eaque error, voluptatum ratione distinctio, earum alias. Dignissimos culpa odio suscipit possimus fugiat cumque reiciendis impedit, doloremque, illo nobis temporibus nam pariatur repellendus perferendis exercitationem sed sequi aspernatur at! At natus necessitatibus sint et magni sequi eum animi tenetur ex ipsa exercitationem, culpa, blanditiis odio, quaerat nisi consectetur porro rem atque asperiores ratione assumenda. Laudantium, eum.
								img(src="img/article/article3.jpg", alt="article3")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error rerum maxime porro possimus magni, libero corrupti quis harum nostrum doloribus non expedita, iure at assumenda eaque, placeat dolorum doloremque necessitatibus architecto similique consequuntur! Velit repellendus, tempora delectus eligendi? Quibusdam sint vel voluptates iste dolorem magni temporibus maxime a iure sapiente harum enim ratione maiores aperiam sed, autem fugit nesciunt. Nam officiis, placeat temporibus! Odio vitae modi magnam excepturi animi perferendis ex libero fugit, rerum quaerat tenetur doloremque nihil laudantium velit earum, placeat id voluptatum dolore! Saepe ducimus quisquam vitae soluta fuga illo quos praesentium sed animi earum. Voluptas voluptatibus hic totam, dolorem mollitia sit aut excepturi facilis dolores quidem natus sed eos quisquam consequuntur voluptates nesciunt laborum obcaecati. Consequuntur, nisi accusantium facilis nemo soluta, tempore adipisci eius voluptatum distinctio veritatis iusto esse assumenda rerum, debitis voluptate maxime. Eos asperiores quam odit tempora mollitia eaque error, voluptatum ratione distinctio, earum alias. Dignissimos culpa odio suscipit possimus fugiat cumque reiciendis impedit, doloremque, illo nobis temporibus nam pariatur repellendus perferendis exercitationem sed sequi aspernatur at! At natus necessitatibus sint et magni sequi eum animi tenetur ex ipsa exercitationem, culpa, blanditiis odio, quaerat nisi consectetur porro rem atque asperiores ratione assumenda. Laudantium, eum.
							.more-events
								.float-left
									p Поделитесь с друзьями:
										img(src="img/icons/facebook-colors.png", alt="facebook")
										img(src="img/icons/twitter-colors.png", alt="twitter")
										img(src="img/icons/vk-colors.png", alt="vk")
								.float-right
									button.button-purple Комментировать
							.clearfix
							.see-also.text-center
								h4.text-left читайте также
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
								.large-4.columns
									.block-3.pink.text-center.grid
									.info
										img(src="img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
							.clearfix
								.large-12.columns.comments
									h4 Добавьте комментарий
									.add-comments
											form
												textarea(placeholder="Оставьте свой комментарий")
												.float-left
													img(src="img/captcha.jpg", alt="captcha").captcha
												.float-right
													button.button-purple Участвовать
												.clearfix
									h4 Комментарий
									.add-comments.comment
											form
												textarea(placeholder="Оставьте свой комментарий")
												input(type="text" name="answer" placeholder="Ответить")
								.clearfix

				.large-3.columns.block-right
					include includes/banner.jade
					.advertising
						include includes/reklama.jade
				img(src="img/banner-2.jpg", alt="banner2")
				include includes/bottom.jade
