extends includes/home.jade
block title
	title Стиль и мода
block content
	.row
		.large-12.columns.large-centered.mode
			.row
				.large-8.columns.style.padding-left
					h1 Стиль и мода
					.row
						.large-12.columns.container-block-3
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.clearfix
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.clearfix
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.clearfix
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.pink.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.block-3.text-center.grid
									.info
										img(src="../img/blocks/block-5.jpg", alt="")
										h3 6 способов сделать понедельник лучшим днем недели!
										hr
										.info-views
											img(src="../img/icons/eyes.png", alt="eyes")
											span 74
											img(src="../img/icons/comments.png", alt="comments")
											span 54
								.clearfix
							.text-center
								button.button.button-purple Показать еще

				.large-3.columns.block-right
					include includes/banner.jade
					.advertising
						include includes/reklama.jade
