extends includes/home.jade
block title
	title Стиль и мода
block content
	.row
		.large-12.columns.large-centered.mode
			.row
				.large-8.columns.style.padding-left
					h1 Стиль и мода
					.row
						.large-12.columns.container-block
							- for (var x = 0; x < 15; x++)
								-if (x % 2)
									.block-3.text-center.grid
										.topic-top
											a(href="#love") Про любовь
										.info
											.img-center
												img(src="img/blocks/block-3.png", alt="")
											a 6 способов сделать понедельник лучшим днем недели!
											hr
											.info-views
												img(src="img/icons/eyes.png", alt="eyes")
												span 74
												img(src="img/icons/comments.png", alt="comments")
												span 54
								-else 
									.block-3.pink.text-center.grid
										.topic-top
											a(href="#love") Про любовь
										.info
											.img-center
												img(src="img/blocks/block-5.jpg", alt="")
											a 6 способов сделать понедельник лучшим днем недели!
											hr
											.info-views
												img(src="img/icons/eyes.png", alt="eyes")
												span 74
												img(src="img/icons/comments.png", alt="comments")
												span 54
					.text-center
							button.button.button-purple Показать еще

				.large-3.columns.right-sidebar
					include includes/banner.jade
					.advertising
						include includes/reklama.jade
