.large-12.columns.text-center.more
		h3 Гульнар
		small Астана
		p.text-left.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tempore molestias accusantium? Quo itaque similique accusantium blanditiis dolor. Veniam voluptate corrupti autem, quisquam quidem repellat voluptates iusto ex, reprehenderit, esse voluptatibus corporis laudantium dolorem quod enim error dolor vero praesentium in officiis tempore saepe. Natus sapiente error cumque alias reprehenderit unde officiis animi consequatur quidem? A dolorum unde, eveniet, libero hic delectus explicabo voluptate. Recusandae eligendi nemo, nobis? Asperiores veritatis illum nobis, tempora tempore aliquid atque sint fugit ipsam architecto repellendus nisi modi. Asperiores velit beatae neque inventore repudiandae. Nihil hic molestiae nesciunt quae ipsum nisi provident! Dicta perspiciatis, impedit.
		.more-events
			.float-left
				.like-more 
					span 12
			.center
				p Поделитесь с друзьями:
					img(src="img/icons/facebook-colors.png", alt="facebook")
					img(src="img/icons/twitter-colors.png", alt="twitter")
					img(src="img/icons/vk-colors.png", alt="vk")
			.float-right
				button.button-purple Комментировать
.large-12.columns
	img(src="img/person.png", alt="person")
	
.large-12.columns.comments
	h4 Добавьте комментарий
	.add-comments
			form
				textarea(placeholder="Оставьте свой комментарий")
				.float-left
					img(src="img/captcha.jpg", alt="captcha")
				.float-right
					button.button-purple Участвовать
				.clearfix
	h4 Комментарий
	.add-comments.comment
			form
				textarea(placeholder="Оставьте свой комментарий")
				input(type="text" name="answer" placeholder="Ответить")
.clearfix