.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-4.columns
	img(src="../img/member/member.jpg", alt="member")
	.name.float-left
		h4 Гульнар
		p Астана
	.like.float-right.text-center
		p
			img(src="../img/icons/heart.png", alt="heart-icon")
		p
			small 24
.large-12.columns.comments
	h4 Добавьте комментарий
	.add-comments
			form
				textarea(placeholder="Оставьте свой комментарий")
				.float-left
					img(src="../img/captcha.jpg", alt="captcha")
				.float-right
					button.button-purple Участвовать
				.clearfix
	h4 Комментарий
	.add-comments.comment
			form
				textarea(placeholder="Оставьте свой комментарий")
				input(type="text" name="answer" placeholder="Ответить")
.clearfix