.large-6.columns
	p ПРИЗ января - бьюти-коробки от Beauty Forma
	img(src="../img/prise/prise-1.png", alt="prise")
.large-6.columns
	p ПРИЗ января - бьюти-коробки от Beauty Forma
	img(src="../img/prise/prise-1.png", alt="prise")
.large-6.columns
	p ПРИЗ января - бьюти-коробки от Beauty Forma
	img(src="../img/prise/prise-1.png", alt="prise")
.large-6.columns
	p ПРИЗ января - бьюти-коробки от Beauty Forma
	img(src="../img/prise/prise-1.png", alt="prise")
.clearfix