h3 Правила конкурса 
p.topic ПОДРОБНЫЕ ПРАВИЛА КОНКУРСА "ГЕРОИНЯ НАШЕГО ВРЕМЕНИ"
p Условия конкурса. Предворительный этап. Каждый месяц редакционная и читательское жури будут выбирать 3 участниц, которые пройдут в финал конкурса:
ul
	li 1 участницу выбирают читатели (учитывается количество набранных голосов на сайте)
	li 1 участницу выбирают редакционное жюри
	li 1 участницу выбирают писательница Анна Литвинова