.winner.text-center
	h2 Победительницы
	p Lorem Ipsum is simply dummy text of the printing and typesettin
	.large-12.columns
		h3 Январь 2016
	.hr
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.clearfix
	.large-12.columns.top2
		h3 Декабрь 2015
	.hr
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.clearfix
	.large-12.columns.top2
		h3 Ноябрь 2015
	.hr
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.large-4.columns
		img(src="../img/member/member.jpg", alt="member")
		.name.text-center
			h4 Гульнар
			small Астана
	.clearfix