.row
	.container-block-2
		.block-3.pink.text-center.grid
			.info
				img(src="../img/blocks/block-4.jpg", alt="")
				h3 6 способов сделать понедельник лучшим днем недели!
				hr
				.info-views
					img(src="../img/icons/eyes.png", alt="eyes")
					span 74
					img(src="../img/icons/comments.png", alt="comments")
					span 54				
		include small-block.jade
		.block-3.text-center.grid
			.info
				img(src="../img/blocks/block-5.jpg", alt="")
				h3 6 способов сделать понедельник лучшим днем недели!
				hr
				.info-views
					img(src="../img/icons/eyes.png", alt="eyes")
					span 74
					img(src="../img/icons/comments.png", alt="comments")
					span 54
		include small-block.jade		
		.block-3.pink.text-center.grid
			.info
				img(src="../img/blocks/block-5.jpg", alt="")
				h3 6 способов сделать понедельник лучшим днем недели!
				hr
				.info-views
					img(src="../img/icons/eyes.png", alt="eyes")
					span 74
					img(src="../img/icons/comments.png", alt="comments")
					span 54
		.block-3.text-center.grid
			.info
				img(src="../img/blocks/block-5.jpg", alt="")
				h3 6 способов сделать понедельник лучшим днем недели!
				hr
				.info-views
					img(src="../img/icons/eyes.png", alt="eyes")
					span 74
					img(src="../img/icons/comments.png", alt="comments")
					span 54		
		include small-block.jade
	.text-center
		button.button.button-purple Показать еще