.block-3.text-center.grid
	.info.long-height.text-left
		h4
			span.purple Самое
			span  популяное
		.all-info
			.blocks.block-3
				.img-center
					img(src="../img/long-height/block-1.jpg", alt="")
					a(href="#")
						strong.topic Про любовь
				h2 
					a(href="#") Топ 5 советов как найти свою вторую половинку
			.blocks.block-3
				.img-center
					img(src="../img/long-height/block-1.jpg", alt="")
					a(href="#")
						strong.topic Про любовь
				h2 
					a(href="#") Топ 5 советов как найти свою вторую половинку
			.blocks.block-3
				.img-center
					img(src="../img/long-height/block-1.jpg", alt="")
					a(href="#")
						strong.topic Про любовь
				h2 
					a(href="#") Топ 5 советов как найти свою вторую половинку
			.blocks.block-3
				.img-center
					img(src="../img/long-height/block-1.jpg", alt="")
					a(href="#")
						strong.topic Про любовь
				h2 
					a(href="#") Топ 5 советов как найти свою вторую половинку
			.blocks.block-3
				.img-center
					img(src="../img/long-height/block-1.jpg", alt="")
					a(href="#")
						strong.topic Про любовь
				h2 
					a(href="#") Топ 5 советов как найти свою вторую половинку