.block-3.text-center.grid
	.info.long-height.text-left
		h4
			span.purple Самое
			span  популяное
		.all-info
			.blocks
				strong.topic Про любовь
				h2 Топ 5 советов как найти свою вторую половинку
			.blocks.block-2
				strong.topic Про любовь
				h2 Топ 5 советов как найти свою вторую половинку
			.blocks.block-3
				strong.topic Про любовь
				h2 Топ 5 советов как найти свою вторую половинку
			.blocks.block-4
				strong.topic Про любовь
				h2 Топ 5 советов как найти свою вторую половинку
			.blocks.block-5
				strong.topic Про любовь
				h2 Топ 5 советов как найти свою вторую половинку