.block-3.small-block.grid
	.info.clearfix
		img.float-left(src="img/blocks/small-block.jpg", alt="small-block")
		h3.float-left Модные метафоры: !{br} Победа над собой
	.info.clearfix
		img.float-left(src="img/blocks/small-block.jpg", alt="small-block")
		h3.float-left Модные метафоры: !{br} Победа над собой
	.info.clearfix.last
		img.float-left(src="img/blocks/small-block.jpg", alt="small-block")
		h3.float-left Модные метафоры: !{br} Победа над собой